body {
    margin-top: 58px;

}


h2{
    font-weight: 100;
    font-size: 1.4rem;
    text-transform: uppercase;
}


.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}
.col-md-4{
    background-color:#F5F5DC;
}

#pro_pic{
    max-height:300px;
}


#user_details{
    text-transform: uppercase;
}
#allusers img{
    max-height:100px;
    
}
#allusers p{
    font-weight: 100;
    text-transform:uppercase; 
}
#chatheaderimg{
    max-height:120px;
}
#chatbody img{
    max-height: 150px;

};
